<!DOCTYPE html>

<script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
<script>
  angular.module("brildaq-logs", []);
  angular.module("brildaq-logs").controller("MainCtrl", function($rootScope) {

  var me = this;
  this.records = [];
  this.appName = "";

  var socket = io.connect('http://srv-s2d16-22-01.cms:5006');

  this.requestLogs = function() {
    console.log("requsting logs for app: " + me.appName);
    socket.emit("bringmelogs", {appName: me.appName, otherstuf: null});
  };

  this.stopLogs = function() {
    console.log("requsting to stop logs");
    socket.emit("stopmylogs");
  };

  socket.on('message', function(data) {
    $rootScope.$apply(function () {
      if (me.records.length > 9) {
        me.records.splice(0, 1);
      }
      me.records.push(data);
    });
  });

  });
</script>

<html>
  <head>
    <meta charset="UTF-8"/>
    <base href="/webbrildaqtest/" />

  </head>

  <body ng-app="brildaq-logs"
        ng-controller="MainCtrl as main">

    <div>
      <input type="text" ng-model="main.appName"></input>
      <button ng-click="main.requestLogs()">Bring me logs</button>
      <button ng-click="main.stopLogs()">Stop</button>
    </div>
    <p ng-repeat="r in main.records track by $index">{{r}}</p>
  </body>

</html>
