.wc-tree-expanded {
    margin-left: 16px;
}

.wc-tree-item {
    cursor: pointer;
}

.wc-tree-view {
    /* max-width: 200px; */
    width: 16em;
    overflow-x: auto;
    float: left;
    padding: 0 1em 1em 1em;
}

.wc-active-view {
    position: absolute;
    margin-left: 16em;
    padding: 0em 1em 1em 1em;
}

.wc-config-panel-group {
    border-bottom: dashed 1px grey;
    border-left: dashed 1px grey;
    padding: 0px 6px 6px 6px;
    /* box-shadow: inset 0px 0px 6px 0px rgba(0,0,0,0.1); */
    /* background-color: #FCF7E9; */
}

.label-as-badge {
    border-radius: 1em;
}

.wc-config-panel-group .panel {
    min-width: 240px;
    max-width: 460px;
    word-wrap:break-word;
    overflow-x:hidden;
}

.panel-heading {
    text-decoration: underline;
    word-wrap: break-word;
    padding: 0.5em;
}

.panel-group {
    margin-bottom: 1em;
}

.panel-body {
    padding: 0.6em;
}

.error-blink {
    animation-name: anim-error-blink;
    animation-timing-function: ease-in-out;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

@keyframes anim-error-blink {
    0%   {background-color:#d9534f; }
    20%   {background-color:#d9534f; }
    65%  {background-color:white; }
    80%   {background-color:white; }
    100% {background-color:#d9534f; }
}

.wc-alert{
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.4);
    opacity: 0.95;
}

.popover {
    z-index: 1039;
    max-width: 400px;
}

.popover-content {
    padding: 0px;
}

.popover-content dock {
    display: block;
    padding: 0em 0.5em 0.5em 0.5em;
}

.popover-content hr {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.h3, h3, .h2, h2  {
    margin: 0px 3px 3px 3px;
}

.label, label {
    margin-bottom: 0px;
}