.wc-tree-expanded {
  margin-left: 16px;
}

.wc-tree-item {
  cursor: pointer;
}

.wc-tree-view {
  /* max-width: 200px; */
  overflow-x: auto;
}

.wc-config-panel-group {
  border-bottom: dashed 1px grey;
  border-left: dashed 1px grey;
  padding-bottom: 6px;
  /* box-shadow: inset 0px 0px 6px 0px rgba(0,0,0,0.1); */
  /* background-color: #FCF7E9; */
}

.label-as-badge {
  border-radius: 1em;
}

.popover-content {
  padding: 0px;
}

.panel-heading {
  word-wrap: break-word;
}
