<div ng-if="!ctrl.fields">
  <h3 class="text-center"><mark>No preconfigured fields for this configuration</mark></h3>
</div>

<div ng-if="ctrl.fields === 'ERROR'">
  <h3 class="text-center"><mark>Failed parsing preconfigured fields</mark></h3>
</div>

<div ng-if="ctrl.fields !== 'ERROR'">
  <div class="form-group"
       ng-repeat="field in ctrl.fields"
       ng-switch="field.type">
    <label>
      {{field.name}}:
      <button class="btn btn-xs"
              ng-if="field.help || field.typeahead"
              uib-popover-template="'info.html'"
              popover-trigger="outsideClick"
              popover-title="Help"
              popover-placement="right-top">
        <span class="fa fa-question-circle text-info"
              style="height: 1.5em">
        </span>
      </button>
      <span class="fa fa-clone text-warning" ng-if="field.multiple"
            uib-tooltip="This field modifies multiple values in configuration xml"
            tooltip-placement="right"/>
    </label>

    <span ng-switch-when="unsignedInt">
      <span ng-include="'unsigned-int.html'"></span>
    </span>

    <span ng-switch-when="integer">
      <span ng-include="'int.html'"></span>
    </span>

    <span ng-switch-when="float">
      <span ng-include="'float.html'"></span>
    </span>

    <span ng-switch-when="commaSeparatedString">
      <span ng-include="'comma-separated-string.html'"></span>
    </span>

    <span ng-switch-when="stringArray">
      <span ng-include="'string-array.html'"></span>
    </span>

    <span ng-switch-when="stringMap">
      <span ng-include="'string-map.html'"></span>
    </span>

    <span ng-switch-when="bool">
      <span ng-include="'bool.html'"></span>
    </span>

    <span ng-switch-default>
      <span ng-include="'string.html'"></span>
    </span>
  </div>
</div>


<style type="text/css">
  .popover{max-width:700px;background-color: #d9edf7;}
</style>
<script type="text/ng-template" id="info.html">
  <div>{{field.help}}</div><br/>
  <div ng-if="field.typeahead">
    <b class="text-info">typeahead:</b><br/>
    <ul>
      <li class="text-nowrap small" ng-repeat="t in field.typeahead track by $index">
        {{t}}
      </li>
    </ul>
  </div>
</script>

<script type="text/ng-template" id="unsigned-int.html">
  <input type="number" class="form-control" min="0" ng-model="field.value"></script>
</script>

<script type="text/ng-template" id="int.html">
  <input type="number" class="form-control" ng-model="field.value"></script>
</script>

<script type="text/ng-template" id="float.html">
  <input type="number" step="0.1" class="form-control" ng-model="field.value"></script>
</script>

<script type="text/ng-template" id="string.html">
  <input type="text" class="form-control" ng-model="field.value"
         uib-typeahead="t for t in field.typeahead | filter:$viewValue"></script>
</script>

<script type="text/ng-template" id="bool.html">
  <button ng-click="ctrl.togleBool(field)"
          style="border-style:none; background: none; font-size: 2em;">
      <span class="fa"
            ng-class="field.value === 1 || field.value === 'true' ?
                      'fa-toggle-on text-success' :
                      'fa-toggle-off'"></span>
  </button>
  {{field.value}}
</script>

<script type="text/ng-template" id="comma-separated-string.html">
  <div class="panel panel-default">
    <table class="table table-bordered table-sm">
      <tr ng-repeat="item in field.value track by $index">
        <td>{{$index}}</td>
        <td>{{item}}</td>
        <td>
          <button class="btn btn-sm"
                  ng-disabled="$index===0"
                  ng-click="ctrl.swap(field.value, $index, $index-1)">
            <span class="fa fa-arrow-up">
          </button>
          <button class="btn btn-sm"
                  ng-disabled="$index===field.value.length-1"
                  ng-click="ctrl.swap(field.value, $index, $index+1)">
            <span class="fa fa-arrow-down">
          </button>
          <button class="btn btn-sm" ng-click="field.value.splice($index, 1)">
            <span class="fa fa-minus">
          </button>
        </td>
      </tr>

      <tr style="background: silver">
        <td></td>
        <td><input type="text" class="form-control input-sm" ng-model="newItem"
                   uib-typeahead="t for t in field.typeahead | filter:$viewValue">
        </td>

        <td>
          <button class="btn btn-sm" ng-click="field.value.push(newItem)">
            <span class="fa fa-plus">
          </button>
        </td>
      </tr>
    </table>
  </div>
</script>


<script type="text/ng-template" id="string-array.html">
  <div class="panel panel-default">
    <table class="table table-bordered table-sm">
      <tr ng-repeat="item in field.value track by $index">
        <td class="col-xs-1">{{$index}}</td>
        <td class="col-xs-3">{{item[0]}}</td>
        <td class="col-xs-7">
          <input type="text" class="form-control input-sm" ng-model="item[1]">
        </td>

        <td class="col-xs-1">
          <button class="btn btn-sm" ng-click="field.value.splice($index, 1)">
            <span class="fa fa-minus">
          </button>
        </td>
      </tr>

      <tr style="background: silver">
        <td></td>

        <td ng-init="newKey='item'">
          <input type="text" class="form-control input-sm" ng-model="newKey">
        </td>

        <td>
          <input type="text" class="form-control input-sm" ng-model="newVal"
                 uib-typeahead="t for t in field.typeahead | filter:$viewValue">
        </td>

        <td>
          <button class="btn btn-sm" ng-click="field.value.push([newKey, newVal])">
            <span class="fa fa-plus">
          </button>
        </td>
      </tr>
    </table>
  </div>
</script>

<script type="text/ng-template" id="string-map.html">
  <div class="panel panel-default">
    <table class="table table-bordered table-sm">
      <tr ng-repeat="(k,v) in field.value">
        <td>
          {{k}}
        </td>

        <td>
          <input type="text" class="form-control input-sm" ng-model="v">
        </td>

        <td>
          <button class="btn btn-sm" ng-click="ctrl.delete(field.value, k)">
            <span class="fa fa-minus">
          </button>
        </td>
      </tr>

      <tr style="background: silver">
        <td ng-init="newkey=''">
          <input type="text" class="form-control input-sm" ng-model="newkey">
        </td>

        <td>
          <input type="text" class="form-control input-sm" ng-model="newval">
        </td>

        <td>
          <button class="btn btn-sm" ng-click="ctrl.mapinsert(field.value, newkey, newval)">
            <span class="fa fa-plus">
          </button>
        </td>
      </tr>
    </table>
  </div>
</script>
