Links:
<a class="navbar-link"
   target="_blank"
   href="https://cmsonline.cern.ch/webcenter/portal/cmsonline/pages_common/dcs/dipbrowser?wc.contentSource=">
  DIP Browser
</a>
|
<a class="navbar-link"
   target="_blank"
   href="https://cmsonline.cern.ch/webcenter/portal/cmsonline/pages_common/elog?__adfpwp_action_portlet=623564097&__adfpwp_backurl=https%3A%2F%2Fcmsonline-int.cern.ch&_piref623564097.strutsAction=%2FviewSubcatMessages.do%3FcatId%3D493%26subId%3D851">
  Elog
</a>
|
<a class="navbar-link"
   target="_blank"
   href="http://srv-s2d16-22-01/webmonitor/summary">webmonitor</a>
|
<a class="navbar-link"
   target="_blank"
   ng-href="{{$root.globals.logs_endpoint}}">logs</a>
|
<a target="_blank"
   href="https://xdaq.web.cern.ch/xdaq/xmas/13/speedial/speedial.swf?heartbeatsurl=http://kvm-s3562-1-ip151-93.cms:9948&zonename=bril" type="application/x-shockwave-flash">
  <img src="img/XDAQLogoSpeedial.png" style="height:2em">
</a>
|
