<nav class="navbar navbar-default navbar-static-top"
     style="margin-bottom: 0px">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" ui-sref="overview">
        BRILDAQ configurator
      </a>
    </div>

    <div class="navbar-form navbar-left">
      <select class="form-control"
              ng-options="own for own in ctrl.owners"
              ng-model="$root.globals.owner"
              ng-change="ctrl.refreshStatuses()"></select>

      <button class="btn btn-default"
              ng-click="ctrl.refreshConfigurations()">
        <span class="fa fa-refresh"></span>Refresh
      </button>
    </div>

    <div class="navbar-brand navbar-left">
      <span
         class="fa" style="cursor: pointer"
         ng-click="$evalAsync(ctrl.toggleAlarmMute())"
         ng-dblclick="ctrl.playAlarm()"
         ng-class="ctrl.alarmIsMute ? 'fa-volume-off' : (ctrl.alarmIsPlaying ? 'fa-volume-up' : 'fa-volume-down')"
         uib-tooltip="Experimental audio notificator. Click to mute/unmute. Double click to test sound."
         tooltip-placement="right">
      </span>
    </div>

    <div class="navbar-form navbar-right">
      Links:
      <a class="navbar-link"
         target="_blank"
         href="https://cmsonline.cern.ch/webcenter/portal/cmsonline/pages_common/dcs/dipbrowser?wc.contentSource=">
        DIP Browser
      </a>
      |
      <a class="navbar-link"
         target="_blank"
         href="https://cmsonline.cern.ch/webcenter/portal/cmsonline/pages_common/elog?__adfpwp_action_portlet=623564097&__adfpwp_backurl=https%3A%2F%2Fcmsonline-int.cern.ch&_piref623564097.strutsAction=%2FviewSubcatMessages.do%3FcatId%3D493%26subId%3D851">
        Elog
      </a>
      |
      <a class="navbar-link"
         target="_blank"
         href="http://srv-s2d16-22-01/webmonitor">webmonitor</a>
      |
      <a target="_blank"
         href="https://xdaq.web.cern.ch/xdaq/xmas/11/speedial/speedial.swf?heartbeatsurl=http://pc-c2e11-22-01.cms:8848&zonename=bril" type="application/x-shockwave-flash">
        <img src="img/XDAQLogoSpeedial.png" style="height:2em">
      </a>
      |
    </div>
  </div>
</nav>

<div class="row">
  <div class="wc-tree-view col-lg-2 col-md-3">
    <h2>Configuration tree</h2>

    <table>
      <!-- simple workaround to have 'central' on top
           (cannot easily set order for object keys) -->
      <tr ng-repeat="owner in ctrl.owners"
          ng-show="owner===$root.globals.owner"
          ng-hide="owner!==$root.globals.owner">
        <td>
          <div ng-repeat="(name,node) in ctrl.tree[owner]"
               ng-if="name==='central' || name==='dip'">
            <div ng-include="'tree-item.html'"></div>
          </div>

          <div ng-repeat="(name,node) in ctrl.tree[owner]"
               ng-if="name!=='central' && name!=='dip'">
            <div ng-include="'tree-item.html'"></div>
          </div>
        </td>
      </tr>
    </table>
  </div>

  <div class="col-lg-10 col-md-9" ng-init="dirfilter = 'global'">
    <div class="row form-inline">
      <h2>Active configurations
        <small>
          | Filter:
          <select class="form-control"
                  id="dirfilter"
                  ng-options="v as k for (k, v) in
                              {global: 'global',
                              local:'local',
                              'no filter': ''}"
                  ng-model="dirfilter"
                  style="margin: auto;"></select>
        </small>
      </h2>
    </div>

    <div style="display: flex; flex-wrap: wrap;">
      <!-- hack again to keep 'central' and 'dip' first -->
      <div class="wc-config-panel-group panel-group"
           style="flex: 1 1 auto;"
           ng-init="dirkey='central'; dir=ctrl.tree[$root.globals.owner].central"
           ng-if="ctrl.tree[$root.globals.owner].central"
           ng-include="'config-block-container.html'">
      </div>

      <div class="wc-config-panel-group panel-group"
           style="flex: 1 1 auto;"
           ng-init="dirkey='dip'; dir=ctrl.tree[$root.globals.owner].dip"
           ng-if="ctrl.tree[$root.globals.owner].dip"
           ng-include="'config-block-container.html'">
      </div>

      <div class="wc-config-panel-group panel-group"
           style="flex: 1 1 auto;"
           ng-repeat="(dirkey,dir) in ctrl.tree[$root.globals.owner]"
           ng-if="dirkey!=='central' && dirkey!=='dip'"
           ng-include="'config-block-container.html'">
      </div>

    </div>
  </div>
</div>


<script type="text/ng-template" id="tree-item.html">
  <div style="white-space: nowrap">
    <div ng-if="node._isLeaf" ng-init="path=node._path">
      <span ng-include="'status-indicator.html'"></span>

      <span ng-include="'old-version-indicator.html'"></span>

      <a href=""
         ng-class="node._flags.DANGER ? 'text-danger' : ''"
         uib-popover-template="'action-popover.html'"
         popover-append-to-body="true"
         popover-placement="right-top"
         popover-title="{{name}}"
         popover-trigger="outsideClick">
        {{name}}
      </a>

    </div>

    <div ng-if="!node._isLeaf" ng-init="isExpanded=true">
      <span ng-class="isExpanded ?
                      'glyphicon glyphicon-folder-open' :
                      'glyphicon glyphicon-folder-close'">
      </span>

      <a href="" ng-click="isExpanded = !isExpanded">{{name}}</a>

      <div ng-show="isExpanded"
           class="wc-tree-expanded"
           ng-repeat="(name,node) in node"
           ng-include="'tree-item.html'"></div>
    </div>
  </div>
</script>

<script type="text/ng-template" id="config-block-container.html">
  <h3 style="min-width: 60px;"><em>{{dirkey}}</em></h3>
  <div ng-repeat="path in ctrl.active
                  | filter: ($root.globals.owner+'/'+dirkey+'/'+dirfilter)"
       class="panel"
       style="min-width: 280px; max-width: 480px"
       ng-class="ctrl.states[path]==='ON' ? 'panel-success' : 'panel-danger'">
    <div class="panel-heading" style="cursor:pointer"
         uib-popover-template="'action-popover.html'"
         popover-append-to-body="true"
         popover-placement="bottom-right"
         popover-trigger="outsideClick">
      <b>{{path}}</b>
      <span class="pull-right"
            ng-include="'old-version-indicator.html'"></span>
    </div>
    <div class="panel-body">
      <b>Host:</b>&nbsp;{{ctrl.configData[path].executive.host}}
      <b>Port:</b>&nbsp;{{ctrl.configData[path].executive.port}}
      <a ng-href="http://{{ctrl.configData[path].executive.host + ':' + ctrl.configData[path].executive.port}}"
         target="_blank">
        <img src="img/xdaqapplication.png" style="width:2em; height:2em"/>
      </a>
      <wc-view-fields fields="ctrl.configData[path].fields"></wc-view-fields>
    </div>
  </div>
</script>

<style type="text/css">
  .popover-content {padding: 0px;}
</style>
<script type="text/ng-template" id="action-popover.html">
  <div style="min-width:160px">
    <button class="list-group-item btn" ui-sref="editor({path:path})">
      <b>Edit</b> <small>configuration</small></button>
    <fieldset ng-if="!ctrl.getDangerFlags(path)">
      <button class="list-group-item btn"
              ng-disabled="ctrl.states[path] !== 'OFF'"
              ng-click="ctrl.sendCommand('TurnON', path)">
        <b>TurnON</b> <small>executive</small></button>
      <button class="list-group-item btn"
              ng-disabled="ctrl.states[path] !=='ON'"
              ng-click="ctrl.sendCommand('TurnOFF', path)">
        <b>TurnOFF</b> <small>executive</small></button>
      <button class="list-group-item btn"
              ng-disabled="!ctrl.states[path]"
              ng-click="ctrl.sendCommand('Reset', path)">
        <b>Reset</b> <small>executive</small></button>
      <button class="list-group-item btn"
              ng-disabled="ctrl.runningDetails[path]"
              ng-click="ctrl.create(path)">
        <b>Create</b> <small>function manager</small></button>
      <button class="list-group-item btn"
              ng-disabled="!ctrl.runningDetails[path]"
              ng-click="ctrl.destroy(path)">
        <b>Destroy</b> <small>function manager</small></button>
    </fieldset>
    <div ng-if="ctrl.getDangerFlags(path)" class="panel-body bg-danger">
      DANGER flags: {{ctrl.getDangerFlags(path)}}
    </div>
  </div>
</script>

<script type="text/ng-template" id="status-indicator.html">
  <span ng-if="ctrl.isSuccessGetRunning">
    <span ng-if="node._running">
      <span ng-if="node._state==='ON'"
            class="fa fa-heartbeat text-success"
            uib-tooltip="Running. State: ON"
            tooltip-placement="top-left"></span>
      <span ng-if="node._state==='GoingOn'"
            class="fa fa-spinner text-success fa-spin"
            uib-tooltip="Running. State: GoingOn"
            tooltip-placement="top-left"></span>
      <span ng-if="node._state==='OFF'"
            class="fa fa-cog"
            uib-tooltip="Running. State: OFF"
            tooltip-placement="top-left"></span>
      <span ng-if="node._state==='GoingOff'"
            class="fa fa-cog"
            uib-tooltip="Running. State: GoingOff "
            tooltip-placement="top-left">
      </span>
      <span ng-if="node._state==='Error'"
            class="fa fa-exclamation-circle text-danger"
            uib-tooltip="Running. Error or unknown state."
            tooltip-placement="top-left"></span>
      <span ng-if="!ctrl.isSuccessGetStates"
            class="fa fa-exclamation-triangle text-warning"
            uib-tooltip="Failed get state"
            tooltip-placement="top-left">
      </span>
    </span>
    <span ng-if="!node._running"
          class="fa fa-stop text-muted"
          uib-tooltip="Not running (not created)"
          tooltip-placement="top-left">
    </span>
  </span>
  <span ng-if="!ctrl.isSuccessGetRunning"
        class="fa fa-exclamation-triangle text-warning"
        uib-tooltip="Failed 'getRunningConfigurations'"
        tooltip-placement="top-left">
  </span>
  <span ng-if="node._flags.DANGER"
        class="fa fa-exclamation-circle text-danger"
        uib-tooltip="DANGER flags: {{node._flags.DANGER}}"
        tooltip-placement="top-left"></span>
</script>

<script type="text/ng-template" id="old-version-indicator.html">
  <span ng-if="ctrl.runningDetails[path].version < ctrl.versions[path]"
        class="fa fa-exclamation-triangle text-warning"
        uib-tooltip="Running configuration
                     (v{{ctrl.runningDetails[path].version}}) is not
                     the newest configuration (v{{ctrl.versions[path]}}).
                     Do 'Destroy' then 'Create'"
        tooltip-placement="top-left"
        tooltip-append-to-body="true"
        </span>
</script>
