<div class="row form-inline">
    <select class="form-control"
            ng-options="own for own in ctrl.owners"
            ng-model="ctrl.owner"></select>

    <button class="btn btn-default"
            ng-click="ctrl.refreshConfigurations()">
        <span class="fa fa-refresh"></span>Refresh
    </button>
</div>

<div class="row">
    <div class="wc-tree-view col-lg-2 col-md-3">
        <h2>Configuration tree</h2>

        <table>
            <!-- simple workaround to have 'central' on top
                 (cannot easily set order for object keys) -->
            <tr ng-repeat="(name,node) in ctrl.configTree[ctrl.owner]"
                ng-if="name==='central'">
                <td ng-include="'tree-item.html'"></td>
            </tr>

            <tr ng-repeat="(name,node) in ctrl.configTree[ctrl.owner]"
                ng-if="name!=='central'">
                <td ng-include="'tree-item.html'"></td>
            </tr>
        </table>
    </div>

    <div class="col-lg-10 col-md-9" ng-init="dirfilter = 'global'">
        <div class="row form-inline">
            <h2>Active configurations</h2>
            <label for="dirfilter">Filter:</label>
            <select class="form-control"
                    id="dirfilter"
                    ng-options="v as k for (k, v) in
                                {global: 'global',
                                local:'local',
                                'no filter': ''}"
                    ng-model="dirfilter"
                    style="margin: auto;"></select>
        </div>

        <!-- hack again to keep 'central' first -->
        <div class="col-lg-3 wc-config-panel-group panel-group"
             ng-repeat="(dirkey,dir) in ctrl.configTree[ctrl.owner]"
             ng-if="dirkey==='central'"
             ng-include="'config-block-container.html'">
        </div>

        <div class="col-lg-3 wc-config-panel-group panel-group"
             ng-repeat="(dirkey,dir) in ctrl.configTree[ctrl.owner]"
             ng-if="dirkey!=='central'"
             ng-include="'config-block-container.html'">
        </div>

    </div>
</div>

<script type="text/ng-template" id="tree-item.html">
    <div style="white-space: nowrap">

        <div ng-if="node._isLeaf">
            <span ng-if="ctrl.getRunningSuccess">
                <span ng-if="node._running">
                    <span ng-if="node._state==='ON'"
                          class="fa fa-heartbeat text-success"
                          uib-tooltip="Running. State: ON"
                          tooltip-placement="top-left"></span>
                    <span ng-if="node._state==='GoingOn'"
                          class="fa fa-spinner text-success"
                          uib-tooltip="Running. State: GoingOn"
                          tooltip-placement="top-left"></span>
                    <span ng-if="node._state==='OFF'"
                          class="fa fa-cog"
                          uib-tooltip="Running. State: OFF"
                          tooltip-placement="top-left"></span>
                    <span ng-if="node._state==='GoingOff'"
                          class="fa fa-cog"
                          uib-tooltip="Running. State: GoingOff "
                          tooltip-placement="top-left">
                    </span>
                    <span ng-if="node._state==='Error'"
                          class="fa-exclamation-circle text-danger"
                          uib-tooltip="Running. Error or unknown state."
                          tooltip-placement="top-left"></span>
                </span>
                <span ng-if="!node._running"
                      class="fa fa-stop text-muted"
                      uib-tooltip="Not running (not created)"
                      tooltip-placement="top-left">
                </span>
            </span>
            <span ng-if="!ctrl.getRunningSuccess"
                  class="fa fa-exclamation-triangle text-warning"
                  uib-tooltip="Failed RCMS web service 'getRunningConfigurations'"
                  tooltip-placement="top-left">
            </span>

            <!-- ui-sref="editor({path: node._path})" -->

            <a href="" ng-init="path=node._path"
               uib-popover-template="'action-popover.html'"
               popover-append-to-body="true"
               popover-placement="right-top"
               popover-title="{{name}}"
               popover-trigger="outsideClick">
                {{name}}
            </a>
        </div>

        <div ng-if="!node._isLeaf" ng-init="isExpanded = true">
            <span ng-class="isExpanded ?
                            'glyphicon glyphicon-folder-open' :
                            'glyphicon glyphicon-folder-close'">
            </span>

            <a href="" ng-click="isExpanded = !isExpanded">{{name}}</a>

            <div ng-show="isExpanded"
                 class="wc-tree-expanded"
                 ng-repeat="(name,node) in node"
                 ng-include="'tree-item.html'"></div>
        </div>
    </div>
</script>

<script type="text/ng-template" id="config-block-container.html">
    <h3>{{dirkey}}</h3>
    <div ng-repeat="path in ctrl.active
                    | filter: (ctrl.owner+'/'+dirkey+'/'+dirfilter)"
         class="panel"
         ng-class="ctrl.states[path]==='ON' ? 'panel-success' : 'panel-danger'">
        <div class="panel-heading" style="cursor:pointer"
             uib-popover-template="'action-popover.html'"
             popover-append-to-body="true"
             popover-placement="bottom-right"
             popover-trigger="outsideClick">
                {{path}}
        </div>
        <div class="panel-body">
            <wc-view-fields fields="ctrl.activeConfigs[path].fields"></wc-view-fields>
        </div>
    </div>
</script>

<script type="text/ng-template" id="action-popover.html">
    <div>
        <a class="list-group-item" ui-sref="editor({path:path})">Edit</a>
        <button class="list-group-item"
                ng-click="ctrl.sendCommand('TurnON', path)">TurnON</button>
        <button class="list-group-item"
                ng-click="ctrl.sendCommand('TurnOFF', path)">TurnOFF</button>
        <button class="list-group-item"
                ng-click="ctrl.sendCommand('Reset', path)">Reset</button>
        <button class="list-group-item">Create</button>
        <button class="list-group-item">Destroy</button>
    </div>
</script>
